---
import Layout from '../../layouts/Layout.astro'; 
---

<Layout title='Arch Linux | Distro Wiki' description='Arch Linux | Distro Wiki'>
    <h1>Arch Linux</h1>

    <a href="/"><i class="bi bi-house"></i> Home</a>
</Layout>