---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Distro Wiki" description="Linux distributions wiki & rank">
	<h1>Work in progress...</h1>

	<a href="/distro/arch">Arch Linux</a>
</Layout>