---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Distro Wiki" description="Linux distributions wiki & rank">
	<h1>Distro Wiki</h1>
	<p>Work in progress...</p>

	<ul>
		<li>
			<a href="/distro/arch">Arch Linux</a>
		</li>
	</ul>
</Layout>